[Unit]
Description=Start artefacts downloading

[Service]
Type=oneshot
ExecStart=artefactor -u -s /srv/artefactor/artefacts.yml /srv/artefactor/data

[Install]
WantedBy=multi-user.target
