[Unit]
Description=Retrieve disk space taken up by logs and old installs 

[Service]
Type=oneshot
ExecStart=artefactor -u -s /srv/artefactor/artefacts.yml /srv/artefactor/data

[Install]
WantedBy=multi-user.target
