[Unit]
Description=Start artefacts downloading

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/artefactor
ExecStart=artefactor download /srv/artefactor/data --unit --sources /srv/artefactor/artefacts.yml

[Install]
WantedBy=multi-user.target
